<div class="interactive-wrapper">

	<div class="gv-main-title">
		<h2>Provisional results</h2>
		<span></span>
	</div>


	<div class="gv-waffle-wrapper">

		<div class="gv-main-parties-wrapper">
			<div class="gv-main-party" id="gv-main-party-1">
				<div class="gv-party-box-1"></div>
				<h3 class="gv-main-party-1-name"></h3>
				<span class="gv-main-party-1-seats"></span>
				<span class="gv-main-party-1-gain"></span>
			</div>

			<div class="gv-main-party" id="gv-main-party-2">
				<div class="gv-party-box-2"></div>
				<h3 class="gv-main-party-2-name"></h3>
				<span class="gv-main-party-2-seats"></span>
				<span class="gv-main-party-2-gain"></span>
			</div>

			<div class="gv-main-party" id="gv-main-party-3">
				<div class="gv-party-box-3"></div>
				<h3 class="gv-main-party-3-name"></h3>
				<span class="gv-main-party-3-seats"></span>
				<span class="gv-main-party-3-gain"></span>
			</div>

			<div class="gv-main-party" id="gv-main-party-4">
				<div class="gv-party-box-4"></div>
				<h3 class="gv-main-party-4-name"></h3>
				<span class="gv-main-party-4-seats"></span>
				<span class="gv-main-party-4-gain"></span>
			</div>
		</div>
		<div class='gv-waffle-key-wrapper'>
			<div class="gv-waffle">
				<div class="gv-majority-text">Majority</div>
			</div>
			<div class="gv-key"></div>
		</div>
		
	</div>

	<div class="gv-main-title">
		<h2>Main candidates</h2>
		<span></span>
	</div>

	<div class="gv-parties-profiles-wrapper">
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-psoe" src="https://media.guim.co.uk/554d28c0f63ee7d5e2420fa22ec6ad38ac2f7e04/0_0_797_797/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name PSOE">
					PSOE
				</div>
				<div class="gv-party-name">
					Partido Socialista Obrero Español /
					Socialist Labour Spanish Party
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Pedro Sánchez</span>
				</div>
				<div class="gv-party-description">
					Despite having won last elections in April, Sánchez called last September new plebiscites after not being able to get support of other forces to his investiture as president.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-pp" src="https://media.guim.co.uk/ec285f6240d11c600a1b9b2f3f8bfa202f8c8266/0_0_1371_1371/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name PP">
					PP
				</div>
				<div class="gv-party-name">
					Partido Popular /
					Popupar Party
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Pablo Casado</span>
				</div>
				<div class="gv-party-description">
					After Mariano Rajoy's resignation in 2018, Casado won party's leadership through primary elections but lost most of the support of the former leader in April's General Election.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-cs" src="https://media.guim.co.uk/6067b750da95c8e245ab20e0fc24fd66036014df/0_0_1562_1562/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name Cs">
					C’s
				</div>
				<div class="gv-party-name">
					Ciudadanos / Citizens
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Albert Rivera</span>
				</div>
				<div class="gv-party-description">
					Rivera was able to amortize last April the votes coming from the debacle of the Popular Party, contesting the leadership of the opposition to Casado.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-up" src="https://media.guim.co.uk/4c5b5200d67e5c5b68412e03f40830b24e63909a/0_0_1375_1375/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name UP">
					UP
				</div>
				<div class="gv-party-name">
					Unidas Podemos / United We Can
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Pablo Iglesias</span>
				</div>
				<div class="gv-party-description">
					Unidas Podemos leader was unable to reach an agreement after last elections with Sánchez to form a stable government even though he put himself aside on the negotiations.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">	
				<img class="party-key__leader-img tint-vox" src="https://media.guim.co.uk/af50dddef6a2378a27d94fd1693037b289eeb6ac/0_0_1076_1076/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name Vox">
					Vox
				</div>
				<div class="gv-party-name">
					Voice
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Santiago Abascal</span>
				</div>
				<div class="gv-party-description">
					Another of the parties that benefited from the wear of the Popular Party was Vox and its leader Santiago Abascal, thus adding to the rise of the extreme right throughout Europe.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-mas-pais" src="https://media.guim.co.uk/4b7ad648de16a832dccfa277ee8d7ce74df5772f/0_0_1545_1545/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name mas-pais">
					Más País
				</div>
				<div class="gv-party-name">
					More Country
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Íñigo Errejón</span>
				</div>
				<div class="gv-party-description">
					Errejón represents a split in the ranks of Unidas Podemos. After his departure from Iglesias’ party he got a high representation in Madrid. Now makes the leap to national politics.
				</div>
			</div>
		</div>
		<div class="gv-key-party-wrapper">
			<div class="gv-leader-image-wrapper aside">
				<img class="party-key__leader-img tint-erc" src="https://media.guim.co.uk/c4b95aee71e4b4fc723ebd1172bc03454eee5d26/0_0_882_882/500.jpg">
			</div>

			<div class="gv-leader-data-wrapper main">
				<div class="gv-party-short-name ERC">
					ERC-Sobiranistes
				</div>
				<div class="gv-party-name">
					Republican Left of Catalonia–Sovereigntists
				</div>
				<div class="gv-leader-wrapper">
					<span class="gv-leader-name">Gabriel Rufián</span>
				</div>
				<div class="gv-party-description">
					On October, former candidate Oriol Junqueras, was sentenced to 13 years in prison for the crimes of sedition and misappropriation of public funds. Rufian takes the lead in a very stressed relationship with Central Goberment in Madrid.
				</div>
			</div>
		</div>
	</div>

	<div class="gv-main-title">
		<h2>Main party and distribution of seats per province</h2>
		<span></span>
	</div>

	<div class="gv-maps-wrapper">
		<div class='gv-map-wrapper' id="gv-geographical">
			<div id="coropleth">
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
			</div>
			<div class='tooltip'>
				<div class='tooltip-title'>
					<div class="tooltip-province"></div>
					<div class="tooltip-deputies"></div>
				</div>
				<div class="tooltip-results"></div>
			</div>
		</div>
		<div class='gv-map-wrapper' id="gv-cartogram">
			<div id="cartogram">
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
			</div>
		</div>

	</div>
</div>