<div class="interactive-wrapper">

	<div class="gv-main-title">
		<h2>Provisional results</h2>
		<span></span>
	</div>


	<div class="gv-key-waffle-wrapper">

		<div class="gv-key-wrapper">
    		<div class="gv-main-parties">
		    	<div class="gv-main-party" id="gv-main-party-1">
		    		<div class="gv-party-box-1"></div>
		    		<h3 class="gv-main-party-1-name"></h3>
		    		<span class="gv-main-party-1-seats"></span>
		    		<span class="gv-main-party-1-gain"></span>
			    </div>

			    <div class="gv-main-party" id="gv-main-party-2">
			    	<div class="gv-party-box-2"></div>
			    	<h3 class="gv-main-party-2-name"></h3>
		    		<span class="gv-main-party-2-seats"></span>
		    		<span class="gv-main-party-2-gain"></span>
			    </div>

			    <div class="gv-main-party" id="gv-main-party-3">
			    	<div class="gv-party-box-3"></div>
			    	<h3 class="gv-main-party-3-name"></h3>
		    		<span class="gv-main-party-3-seats"></span>
		    		<span class="gv-main-party-3-gain"></span>
			    </div>

			    <div class="gv-main-party" id="gv-main-party-4">
			    	<div class="gv-party-box-4"></div>
			    	<h3 class="gv-main-party-4-name"></h3>
		    		<span class="gv-main-party-4-seats"></span>
		    		<span class="gv-main-party-4-gain"></span>
			    </div>
    		</div>
    		<div class="gv-key"></div>
    	</div>
    	<div class="gv-waffle"></div>
	</div>

    



    
    
	<div class="gv-maps-wrapper">
		<div class='gv-map-wrapper' id="gv-geographical">
				<div id="coropleth">
					<div class='tooltip'>
						<div class='tooltip-title'>
							<div class="tooltip-province"></div>
							<div class="tooltip-deputies"></div>
						</div>
						<div class="tooltip-results"></div>
					</div>
				</div>
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
		</div>
		<div class='gv-map-wrapper' id="gv-cartogram">
			<div id="cartogram">
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
			</div>
		</div>

	</div>
</div>