<div class="interactive-wrapper">
	<div class="gv-chart-title">Israel election September 2019</div>
    <div class="gv-chart-subtitle">Results at 11pm BST</div>
    <div class="gv-main-party-1"><span></span></div>
    <div class="gv-main-party-2"><span></span></div>
    <div class="gv-waffle"></div>
    <div class="gv-halfway-wrapper">
            <div class="gv-halfway-marker">|</div>

        <div class="gv-halfway-label">50%</div>
    </div>
    
    <div class="gv-key"></div>
	<div class="elections-maps-wrapper">
		<div class='elections-map-wrapper' id="elections-geographical">
		
				<div class="elections-map-headline">First-placed party by province</div>
				<div id="elections-key">
					<ul>
					</ul>
				</div>
				<div id="coropleth">
					<div class='tooltip'>
						<div class='tooltip-title'>
							<div class="tooltip-province"></div>
							<div class="tooltip-deputies"></div>
						</div>
						<div class="tooltip-results"></div>
					</div>
				</div>
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
		</div>
		<div class='elections-map-wrapper' id="elections-cartogram">
			<div class="elections-map-headline">Distribution of seats by party</div>
			<div id="elections-key">
				<ul>
				</ul>
			</div>
			
			<div id="cartogram">
				<div class='tooltip'>
					<div class='tooltip-title'>
						<div class="tooltip-province"></div>
						<div class="tooltip-deputies"></div>
					</div>
					<div class="tooltip-results"></div>
				</div>
			</div>
		</div>

		<div class='elections-map-wrapper' id="elections-municipalities"></div>

	</div>
</div>